<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085950234103-uhdpnia3ld835grjel4npiuhk6ru84sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085950234103-uhdpnia3ld835grjel4npiuhk6ru84sc</string>
	<key>API_KEY</key>
	<string>AIzaSyAWIDFhYbBdQt_0vO_ietKa5KlYstTJUaA</string>
	<key>GCM_SENDER_ID</key>
	<string>1085950234103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookAi</string>
	<key>PROJECT_ID</key>
	<string>taletuner-523af</string>
	<key>STORAGE_BUCKET</key>
	<string>taletuner-523af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085950234103:ios:0d3e1d7562622926d172f2</string>
</dict>
</plist>